*.sql
*.jpeg
*.pdf
*.png
*.mp4
*.zip
*.log
!css/*.png
!css/icons/*.png
!print/*.png
api/classes/globals.class.php
videos/*
videos/
mysql_uploads/
mysql_uploads/*.sql
qr_codes/
finished_codes/
wkhtmltopdf/*